body {
        background-color: rgb(70,70,70);
    html {
        color: #FEFEFE;
    }
}
a {
    color: #6374ba;
}
a:hover {
    color: #4a5687;
}
.logout {
  color: #FF0000;
  cursor: pointer;
}
.logout:hover {
  color: #FD3333;
}
.logout:hover:after {
  content: " (REMOVES CREDENTIALS)";
}
.cbx {
  border: 5px solid rgb(200, 200, 200);
  padding: 20px;
  margin: 15px;
  background-color: rgb(40, 40, 40);
}
.cbxp {
  border: 5px solid rgb(200, 200, 200);
  padding: 20px;
  margin: 15px;
  background-color: rgb(175, 80, 80);
}
.blacklisted {
  color: #f00
}
.devteam {
  color: #0ff
}
.verified {
  color: #0f0
}
.pending {
  color: #ff0
}
html {
  color: #FEFEFE
}